# Python stuff
*.ipynb_checkpoints
*.xlsx
*__pycache__
.pytest_cache
*gurobi.log

# PPTX temporary doc
~$*

# Mac file
*DS_Store

# Data
*.pickle
*.csv
archives/
!./defense/house.pickle
!./defense/pv.pickle
!./defense/house_forecast_list.pickle
